{% extends 'estudiante/base.html' %}

{% block principal %}
    <a href="{% url 'lista_crear_asignaturas' %}">Matricular asignaturas a estudiantes</a>
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Edad</th>
            <th>Ciudad</th>
            <th>Activo</th>
            <th>Acción</th>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{estudiante.nombre}}</td>
                    <td>{{estudiante.codigo}}</td>
                    <td>{{estudiante.edad}}</td>
                    <td>{{estudiante.ciudad}}</td>
                    {% if estudiante.activo %}
                    <td>SI</td>
                    {% else %}
                    <td>NO</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'listar_asignaturas' id=estudiante.id%}">Listar asignaturas</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block nombre %}
<h5>Listar estudiantes</h5>
{% endblock %}